#navigation-bar {

	    width: 20%;
    height: 30px;
    background-color: #3CB371;
    margin: 0;
    z-index: 100;
    position: fixed;

}

/*coverseksjon*/
.jumbotron1 {
	background-color: red;
	margin: 0px;
	padding: 0px;
	height: 100px;
	width: 100%;
	margin-top: 0em;
	top: 0em;
}

.coverbilde{
	height: auto;
	width: auto;
}

#rs {
	color:gray;
	font-size: 40px;
}


/*Main content*/
.container {
  	width:auto;
  	margin: 50px;
  	padding: 0px;
}

#container_nederst {
	width: 100%;
	height: 250px;
	background-color: white;
	margin-right: auto;
	margin-right: auto;
	
}

.ikon {
	display: inline;
	margin: 10px;
	margin-left: 10px;
	padding: 0px;
	padding-left: 130px;
	height: 60px;
	width: auto;
	

}




.tomtom {
height: 250px;
}



.navul {
	list-style-type: none;
	font-family: 'Lato', sans-serif;
	font-weight:800;
	font-size:15px;
	float:left;
	margin-top:0;
	color:white;
	padding-left:15px;
	

}
li {
	display:inline;
}
li a {
	text-decoration: none;
	color:white;
}

/*Tabell med nyheter*/
.tab1 {
	color:white;
  	width: 150px;
	background-color: #737373;
	padding:5px;
	display:inline-block;
	font-weight: bold;
}
 /*Tabell med top5*/
.tab2 {
	color:white;
  	margin: 0px;
  	padding: 0px;
  	width: 50%;
	background-color: #737373;
	padding:5px;
	display:inline-block;
	font-weight: bold;

	
}

.kommune, .by, .location, .stat {
	border:0;
	height: 25px;
}

.nyheterTable {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	background-color: white;
	border-top:3px solid #009933;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	width:100%;


}

td {
	 max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

/*body*/
.bdy {
	background-color: #bdd9e3;
	margin-top:90px;
}

html {
	background-color:#bdd9e3;
}

/*rop5 CSS*/

/*Pilene i tabellen*/
.piler {
	height: 16px;
	width: 16px;
}


/*Bilde av bryggen*/
.bryggen3 {
	position: relative;
	float:right;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin-top:34px;
	border-top:3px solid #009933;

	
}


/*TABELL*/
.top5table {
    font-family: arial, sans-serif;

    border-collapse: collapse;
    width: 62.9%;
	height: 279px;
	background-color: #e6e6e6;
	border-top:3px solid #009933;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;

}
.nyheterTable td {
	padding:10.5px;
}

.top5tr:nth-child(even) {
    background-color: white;
}
	
.top5Col {
	background-color: #bdd9e3;
	width: auto;
	height: 350px;
  	margin-bottom: 20px;
  	padding:0px;
  	margin-left: 0px;
}

/*/top5 CSS*/
.row {
	width: 100%; /*Fikser bredden på radene*/
	padding-bottom: 0px;
	padding-top: 0px;
}

/* Modul CSS */

.modul {
	background: white;
	height: 350px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	margin: 0px 5px 5px 5px;
}

.graf {
	border: 1px solid #dddddd;
	height: 240px;
	margin-top:20px;
}
.btn {

}

.btnRow{
	margin: 0px !important;
}

/*Teksten som står over grafene*/
.grafTekst {
}

.kart {
	height: 22em;
	width: 100%;
}
.kartModul {
	height: 26em;
}

/*Bilde i venstre graf */
.graf1 {
	height:95%;
}

/* /slutt Modul CSS */

/*FOOTER*/
footer {
	height:30px;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #454545;
}

.footer_items {
	color: white;
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size:10px;
	margin-top:5px;
}

/* Knapper for sosiale medier i footer */
.sosialLink:link {
	text-decoration: none;
	color: white;
}
.sosialLink:visited {
	text-decoration: none;
	color: grey;
}
.sosialLink:hover {
}
.sosialLink:active {
	text-decoration: none;
}
.fbBtn:hover {
	color: #3b5998;
}
.twtBtn:hover {
	color: #1da1f2;
}
.instBtn:hover {
	color: tomato;
}
.snpBtn:hover {
	color: yellow;
}
/*----------------*/




.container-fluid {
	max-width:1300px;
}

/* Jumbotron bilde */

.jumbotron {
	
	margin-top:-35px;
	height:400px;
	background-image: url(../images/jumbotron2.jpg);
	background-size:cover;
	background-attachment: fixed;
	color:white;
	z-index: -100;
}

.introtekst {
	
	text-align: center;
	
}

.footCont {
	background-color:#304851;
	width:100%;
	height:100px;
	margin-top:80px;
	max-width:100%;
	color:white;


}

h5, h6 {
	padding-top:10px;
	font-size:5px;
}


.icons {
	font-size:2em;
	color:white;
}
